body{
  margin: 0;
}

.m-breadcrumb {
  margin: 0;
  padding: 10px;

  .m-breadcrumb-item {
    display: inline-block;

    .m-breadcrumb-link {
      text-decoration: none;
    }

    .m-breadcrumb-link:hover {
      color: #000000;
    }

    .m-breadcrumb-link.active {
      color: #000000;
    }
  }

  .m-breadcrumb-item:not(:first-of-type)::before{
    content: '/';
    margin: 0 5px;
  }
}